header{
    height: 60px;
}
nav{
    width: 300px;
    height: 340px;
    /*background-color: aqua;*/
    float: left;
    text-align: center;
    border-right:2px solid black
}
section{
    width: 530px;
    float: left;
    padding: 10px;
    /*background-color: burlywood;*/
    text-align: left;
}
body{background-color: aliceblue;}

